/* 
Things to do later:
-Change icons into svg
-Need to figure out normalize vs reset
-need to continue using BEM
-section01 is a paralax image
-how does the div.blahblah-class {} work??
-is box-sizing: border box global?
-where do i put sass variables? Just add them to the top or
 to their own files to be imported later? 
 (ex: _variables.scss)
-get into flexbox
-transitions vs animations
-so I wanna add jquery, but do I user browserify to create
 dependencies(?) or bundles?? I'm not clear on the use of
 browserify...
-must import breakpoints soon....
*/

$color-orange: #ef4923;

#section01 {
	background: url('./../images/top-bg.jpg') no-repeat center center;
	color: #FFF;
	height: 637px;
	padding: 30px 60px 0 60px;
	text-align: center;
	.phone-number {
		font-size: 14px;
		font-weight: bold;
		text-align: right;
		position: fixed;
    	right: 50px;
    	color: #FFF;
		&:after {
			content: "";
			background: url(../images/phone-circle.png) no-repeat 50%;
			left: 15px;
			padding-left: 10px;
			position: relative;
			}
	}
	.container-inner {
		margin-top: 190px;
		h1 {
			font-size: 95px;
			font-weight: bold;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 100px;
		}
		a {
	    border: 3px solid #fff;
	    background-color: transparent;
	    color: #fff;
	    display: inline-block;
	    font-size: 18px;
	    font-weight: 700;
	    padding: 10px 0;
	    text-decoration: none;
	    width: 234px;
		}
	    .down-arrow {
	    	background: url(../images/down-arrow.png) no-repeat center;
			height: 100px;
	    }
	}
}
header {
	.container-inner {
		background: url(../images/header-background.png);
		position: relative;
		.logo {
	    	position: absolute;
		    left: 15px;
		    top: 20px;
		}
		ul {
			display: flex;
			justify-content: center;
	    align-items: center;
			li {    
				display: inline-block;
				a {
					padding: 30px 20px;
					display: inline-block;
					transition: .3s all;
				}
				.highlight {
					background-color: $color-orange;
				}
			}
		}
	}
	.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
	}
}